
<div class="row review">
  <div class="cols-xs-12 col-sm-4 col-md-2 col-lg-2 user-infos">
    <p class="avatar-lg" align="center"><%= image_tag_for_user(review.user) %></p>
    <p align="center"><%= link_to review.user.first_name, profile_path(@profile) %></p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 review-body" align="center">
    <p><strong>Commentaire</strong></p>
    <p>
      <%= review.description %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 review-rating" align="center">
    <p><strong>Note</strong></p>
    <% if review.rating == 1 %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
    <% elsif review.rating == 2 %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
    <% elsif review.rating == 3 %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
    <% elsif review.rating == 4 %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star grey-star" %>
    <% elsif review.rating == 5 %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
      <%= link_to '', '', class: "fa fa-star full-star" %>
<% end %>

  </div>
</div>
