<div class="container">

<div class="profil-content">
  <%= image_tag_for_user(@profile.user) %>
  <div class="profil-content-name text-center">
    <h3> <%= @profile.user.first_name %> <%= @profile.user.last_name %> </h3>
    <div class="social_links">
      <%= link_to '', '', class: "fa fa-github" %>
      <%= link_to '', '', class: "fa fa-facebook" %>
      <%= link_to '', '', class: "fa fa-twitter" %>
      <%= link_to '', '',class: "fa fa-github" %>
      <%= link_to '', '',class: "fa fa-linkedin" %>
  </div>
  </div>
  <div class="profil-content-body">
    <h3><strong><%= @profile.city %></strong></h3>
    <p>
      <%= @profile.description  %>
    </p>
  </div>
  <div class="profil-content-call">
    <%= link_to "Je book", new_profile_reservation_path(@profile), class: "btn btn-success" %>
  </div>
</div>

<div class="portifolio_content">
  <div class="row text-center">
    <div class="col-xs-12">
      <h2>PORTOFOLIO</h2>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <% @profile.reviews.each do |review| %>
        <div class="review_card col-xs-12">
          <div class="col-xs-2">
            <p><%= review.user.first_name %></p>
          </div>
          <div class="col-xs-8">
            <p><%= review.description %></p>
          </div>
          <div class="col-xs-2">
            <p><%= review.rating %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>




<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var coord = <%= raw @profile_coordinates.to_json %>;
alert(profile.lat);
});
<% end %>
<% end %>
