<div class="container">

  <div class="container profile_content">
   <div class="row">
    <div class="photo_container col-xs-12 col-sd-4 col-sm-4 col-lg-4">
      <%= image_tag_for_user(@profile.user) %>
    </div>
    <div class="profile_infos col-xs-12 col-sm-8 col-md-8 col-lg-8">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>
          <%= @profile.user.first_name %>
          <%= @profile.user.last_name %>
          </h2>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-6 col-lg-6" align="right">
          <%= link_to "Je book", new_profile_reservation_path(@profile), class: "btn btn-success" %>
        </div>
      </div>

      <h3 class="profile_city">
        <%= @profile.city %>
      </h3>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="skills text-center">
          <p>Compétences</p>
          <% @skills.each do |skill| %>
          <div class="skills-name"><%= skill.name %></div>
          <% end %>
        </div>
        <div class="social_links">
          <%= link_to '', '', class: "fa fa-github" %>
          <%= link_to '', '', class: "fa fa-facebook" %>
          <%= link_to '', '', class: "fa fa-twitter" %>
          <%= link_to '', '',class: "fa fa-github" %>
          <%= link_to '', '',class: "fa fa-linkedin" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <p class="profile_description">
          <%= @profile.description %>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container profile_content">
  <div class="row text-center">
    <div class="col-xs-12">


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="app.js"></script>
    <h2 align="center">PORTOFOLIO</h2>
    <div class="container" align="center">
      <!-- Gallery 1 -->
      <a rel="gallery-1" href="http://lorempixel.com/900/600/technics" class="swipebox">
        <img src="http://lorempixel.com/300/200/technics" alt="image">
      </a>
      <a rel="gallery-1" href="http://lorempixel.com/900/600/people" class="swipebox">
        <img src="http://lorempixel.com/300/200/people" alt="image">
      </a>
      </div>
    </div>
  </div>
</div>

<div class="container profile_content">
<h3 align="center">COMMENTAIRES</h3>
  <div class="reviews_profile">
    <div class="review-content">`
      <% @profile.reviews.each do |review| %>
        <%= render 'reviews_profile', review: review %>
      <% end %>
    </div>
  </div>
</div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
  var coord = <%= raw @profile_coordinates.to_json %>;
  alert(profile.lat);
});
<% end %>
<% end %>
