<div class="container profile_content">
  <div class="row">
    <div class="photo_container col-xs-4 col-sd-4 col-sm-4 col-lg-4">
      <%= cl_image_tag @profile.user.photo.path, width: 100, height: 100, id: "avatar" %>
    </div>
    <div class="profile_infos col-xs-8 col-sd-8 col-sm-8 col-lg-8">
      <h2>
        <%= @profile.user.first_name %>
        <%= @profile.user.last_name %>
      </h2>
      <h3 class="profile_city">
        city: <%= @profile.city %>
      </h3>
    </div>
  </div>
</div>
<div class="container profile_content">
  <div class="row">
    <div class="col-xs-12 col-sd-12 col-sm-4 col-lg-4">
      <div class="skills text-center">
      SKILLS
      </div>
      <div class="social_links text-center">
      SHARE THIS ON SOCIAL NETWORK
      </div>
    </div>
    <div class="col-xs-12 col-sd-12 col-sm-8 col-lg-8">
      <p class="profile_description">
        <%= @profile.description %>
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <h2>PORTOFOLIO TO CREATE</h2>
    </div>
    <div class="col-xs-12">
      <h2>REVIEW TO CREATE</h2>
      <ul>
        <% @profile.reviews.each do |review| %>
          <li>
            <p><%= review.description %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




