<div class="reservation">
  <%= image_tag_for_user(reservation.user) %>
  <div class="reservation-name">
    <h3><%= reservation.user.first_name %></h3>
    <p>Début: <%= reservation.begin_date %></p>
    <p>Fin: <%= reservation.end_date %></p>
  </div>
  <div class="reservation-body">
    <p><strong>Description de la mission</strong></p>
    <p>
      <%= reservation.description %>
    </p>
  </div>
  <div class="reservation-status">
    <button class="btn btn-success">Accepter</button>
    <button class="btn btn-danger">Refuser</button>
  </div>
</div>



