<div class="row reservation">
  <div class="cols-xs-2 col-sm-2 col-md-2 col-lg-2">
    <%= image_tag_for_user(reservation.user) %>
  </div>
  <div class="cols-xs-2 col-sm-2 col-md-2 col-lg-2 reservation-name">
    <h3>
      <%= reservation.user.first_name %>
      <%= reservation.user.last_name %>
    </h3>
    <p class="reservation_date">Du <%= reservation.begin_date %></p>
    <p class="reservation_date">Au <%= reservation.end_date %></p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 reservation-body">
    <h3>Description de la mission</h3>
    <p>
      <%= reservation.description %>
    </p>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 reservation-status">
    <p><%= reservation.status %><p>
    <% if reservation.status == "En attente" %>
      <button class="btn btn-success">Accepter</button>
      <button class="btn btn-danger">Refuser</button>
    <% end %>
  </div>
</div>



