


<div class="row reservation">

  <div class="cols-xs-12 col-sm-3 col-md-2 col-lg-2 user-infos" align="center">
    <p class="avatar-lg"><%= image_tag_for_user(reservation.user) %></p>
  </div>

  <div class="cols-xs-12 col-sm-3 col-md-4 col-lg-4 reservation-name" align="center">
    <p><strong>Demande de réservation par : <%= reservation.user.first_name %> <%= reservation.user.last_name %></strong></p>
    <p>Du <%= reservation.begin_date %> au <%= reservation.end_date %></p>
  </div>

  <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 reservation-body" align="center">
    <p><strong>Description de la mission</strong></p>
    <p><%= reservation.description %></p>
  </div>

  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 reservation-status" align="center">
  <p>Statut : <strong><%= reservation.status %></strong></p>
    <% if reservation.status == "En Attente" %>
      <button class="btn btn-success" id="accept" align="center">
        Accepter
      </button>
      <button class="btn btn-danger" id="decline" align="center">
        Refuser
      </button>
    <% end %>
</div>

</div>



