<div class="footer">
  <div class="footer-links">
    <%= link_to '', '', class: "fa fa-github" %></i>
    <%= link_to '', '', class: "fa fa-facebook" %>
    <%= link_to '', '', class: "fa fa-twitter" %>
    <%= link_to '', '',class: "fa fa-github" %>
    <%= link_to '', '',class: "fa fa-linkedin" %>
  </div>

  <div class="footer-copyright">
    Trouve le dev qui te correspond <i class="fa fa-beer"></i>
  </div>
</div>
