<div class="banner" style="background-image: linear-gradient(-225deg, rgba(78, 78, 78, 0.6) 0%, rgba(109, 109, 109, 0.6) 50%), url('http://res.cloudinary.com/aurelbigo/image/upload/v1502802146/home_banner_tvvxqv.jpg');">
  <div class="banner-content">
    <h1> Loue ton DEV </h1>
    <p> pour une bouchée de pain </p>


    <div class="container">
      <%= simple_form_for :search, url: profiles_path, method: 'get'  do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-8"><%= f.input :city , placeholder: "Ville" ,label: false%>
        </div>
        <div class="col-xs-12 col-sm-4"><%= f.submit "Go !", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% Profile.all.sample(3).each do |profile| %>
    <div class="col-xs-12 col-md-4" align="center">
      <%= render 'shared/card', profile: profile %>
    </div>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAviT1l4GQiiFiBvUpZ6lAuTYjsRp7kFi8"></script>
<% end %>







