<div class="container">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
  <%= simple_form_for [@profile, @reservation] do |f| %>
    <%= f.error_notification %>
    <%= f.input :description, placeholder: 'Quelle est la mission ?' %>
    <%= f.input :begin_date, label: 'Date de début' %>
    <%= f.input :end_date, label: 'Date de fin'%>
    <%= f.submit "Je réserve", class: "btn btn-success" %>
  <% end %>
  </div>
</div>


