
<div class="container">
<%= simple_form_for [@profile, @reservation] do |f| %>
  <%= f.error_notification %>
  <%= f.input :description, placeholder: 'Quelle est la mission ?' %>
  <%= f.input :begin_date, label: 'Date de début' %>
  <%= f.input :end_date, label: 'Date de fin'%>
  <%= f.submit "Je réserve", class: "btn btn-danger" %>
<% end %>
</div>

