
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <h2>Gestion des collaborations</h2>
    <div class="tabs">
      <% if @user.profile.nil? %>
        <a class="tab active" data-target="#user" >
          <h3>Mes projets</h3>
        </a>
      <% else %>
        <a class="tab" data-target="#user" >
          <h3>Mes projets</h3>
        </a>
      <% end %>
      <% if @user.profile.nil? %>
        <!-- <div class="text-center"> -->
          <%= link_to 'Créer un profil dev', new_profile_path, class: 'tab', id: 'profile_creation' %>
        <!-- </div> -->
      <% else %>
        <a class="tab active" data-target="#developper" >
          <h3>Mes propositions</h3>
        </a>
      <% end %>
    </div>
  </div>
</div>
<div class="container col-xs-12">
  <div class=<%= @user.profile.nil? ? "tab-content col-xs-12" : "tab-content col-xs-12 hidden" %> id="user">
    <% @user.reservations.each do |reservation| %>
      <%= render "shared/reservation", reservation: reservation %>
    <% end %>
  </div>
  <div class=<%= @user.profile.nil? ? "tab-content col-xs-12 hidden" : "tab-content col-xs-12" %> id="developper">
      <% unless @user.profile.nil? %>
        <% @user.profile.reservations.each do |reservation| %>
          <%= render "shared/dev_reservation", reservation: reservation %>
        <% end %>
      <% end %>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>

